# Akamai EdgeGrid
AKAMAI_HOST=
AKAMAI_CLIENT_TOKEN=
AKAMAI_CLIENT_SECRET=
AKAMAI_ACCESS_TOKEN=
AKAMAI_CONFIG_ID=

# Anthropic
ANTHROPIC_API_KEY=

# Google OAuth
OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_CLIENT_SECRET=

# Harper Fabric (for deployment)
CLI_TARGET=
CLI_TARGET_USERNAME=
CLI_TARGET_PASSWORD=
